:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* define o comportamento do tamanho da caixa */
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    align-items: center;
    justify-content: center;
}
h1 {
    color: var(--color-primary-darker);
    font-size: 50pt;
}